/* styles/global.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
